<!DOCTYPE html>
<div>
    <header class="modal-header">
        <button class="badge close" type="button" data-ng-click="closeNotificationsModal()"><span class="sr-only">Close Dialog</span><i aria-hidden="true" class="fa fa-close"></i></button>
        <h4 class="modal-title text-center" id="dtep-notifications-modal-title">Notifications</h4>
    </header>
    <main class="modal-body" id="dtep-notifications-modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>There are no notifications to show</td>
                            </tr>
                            <tr>
                                <td>There are no notifications to show</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>