<!DOCTYPE html>
<div>
    <header class="modal-header">
        <button class="badge close" type="button" data-ng-click="closeForgotPasswordModal()"><span class="sr-only">Close Dialog</span><i aria-hidden="true" class="fa fa-close"></i></button>
        <h4 class="modal-title text-center" id="dtep-forgot-password-modal-title">Password Recovery</h4>
    </header>
    <main class="modal-body" id="dtep-forgot-password-modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="" name="passwordRecoveryForm" data-ng-submit="doLogin(userCredential)">
                    <!-- <div style="color:white;">{{errorMessage}}</div> -->
                    <fieldset class="form-group">
                        <!-- <label for="recoveryEmail"><i aria-hidden="true" class="fa fa-envelope"></i><span>&nbsp;&nbsp;Email<sup aria-hidden="true">*</sup></span></label> -->
                        <!-- <input type="text" id="recoveryEmail" data-ng-model="resetEmail" placeholder="Enter Recovery Email" data-ng-keyup="validateResetMailid()" class="form-control" /> -->
                        <label class="sr-only" for="recoveryEmail">Recovery Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input class="form-control" type="email" id="recoveryEmail" name="recoveryEmail" placeholder="Enter Recovery Email *" data-ng-required="!userCredential.recoveryEmail" data-ng-model="userCredential.recoveryEmail" />
                        </div>
                    </fieldset>
                    <fieldset class="form-group text-center">
                        <button class="btn btn-success text-uppercase" type="submit" data-ng-click="forgotPassword()"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Send Recovery Link</button>
                        <button class="btn btn-warning text-uppercase" type="reset" data-ng-click="clearUserRecord()"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>

<!--
<div class="modal fade" id="forgotpassword_modal" data-role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><i class="fa fa-envelope" aria-hidden="true" ></i>&nbsp;&nbsp;Email*<span  id="resetemail"></label></label>
                    <input type="text" class="form-control" id="reset_email" ng-model="resetEmail" placeholder="Enter Email Address" ng-keyup="validateResetMailid()" />
                </div>
                <div style="text-align:center;">
                    <button class="btn btn-success" ng-click="forgotPassword()">Email Reset Link&nbsp;&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" ng-click="clearUserRecord()">CLEAR&nbsp;&nbsp;<i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
                <div id="forgot_notification" style="text-align:center;margin-top:1%;display:none;"><code style="background-color:#f1f1f1;color:#003300;font-size:15px;">{{ resetLink }}&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></code></div>
            </div>
        </div>
    </div>
</div> -->