<!DOCTYPE html>
<div class="container main-content-without-authenticated-header">
    <!-- <div class="row" style="margin-top:5%"> -->
    <div class="row">
        <figure class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- <img src="/assets/images/dtep_logo.png" class="img-responsive" style="margin:0px auto;" width="300" height="180"></img> -->
            <img class="img-responsive center-block" src="/assets/images/dtep_logo.png" />
        </figure>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form class="dtep-login-form" name="loginForm" data-ng-submit="doLogin(userCredential)">
                        <!-- <div style="color:white;">{{errorMessage}}</div> -->
                        <fieldset class="form-group">
                            <label class="sr-only">Username:</label>
                            <div class="input-group dtep-login-form-input-group">
                                <span class="input-group-addon dtep-login-form-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input class="form-control dtep-login-form-input-field" type="text" id="username" name="username" placeholder="Enter Username *" data-ng-required="!userCredential.username" data-ng-model="userCredential.username" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="sr-only">Password:</label>
                            <div class="input-group dtep-login-form-input-group">
                                <span class="input-group-addon dtep-login-form-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input class="form-control dtep-login-form-input-field" type="password" id="password" name="password" placeholder="Enter Password *" data-ng-required="!userCredential.password" data-ng-model="userCredential.password" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <button class="btn btn-block text-uppercase dtep-login-button" type="submit" data-ng-disabled="isLoginProcessing">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <div>{{loginForm}}</div> -->
                    <div class="form-group">
                        <!-- <a data-target="#forgotpassword_modal" data-toggle="modal" style="color:#2486C1;font-weight:bold;">Forgot Password?</a> -->
                        <a class="dtep-forgot-password-modal-anchor" href="javascript:void(0)" aria-haspopup="true" data-ng-click="openForgotPasswordModal()"><strong>Forgot Password?</strong></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <span class="dtep-register-new-user-modal-span">Register as a&nbsp;&nbsp;</span><a class="dtep-register-new-user-modal-anchor" href="javascript:void(0)" aria-haspopup="true" data-ng-click="openRegisterNewUserModal()"><strong>New User</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="register_modal" data-role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;">Register here</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><i class="fa fa-university" aria-hidden="true" ></i>&nbsp;&nbsp;Tenant Name*<span id="tenantname"></span></label>
                    <input type="text" class="form-control" id="tenant_name" ng-model="tenantName" placeholder="Enter Tenant Name" ng-keyup="validateTenantname()" />
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><i class="fa fa-user-secret" aria-hidden="true" ></i>&nbsp;&nbsp;User Name*<span id="username"></span></label>
                    <input type="text" class="form-control" id="user_name" ng-model="userName" placeholder="Enter User Name" ng-keyup="validateUsername()" />
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><i class="fa fa-user" aria-hidden="true" ></i>&nbsp;&nbsp;First Name*<span id="firstname"></span></label>
                    <input type="text" class="form-control" id="first_name" ng-model="firstName" placeholder="First Name" ng-keyup="validateFirstname()" />
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><i class="fa fa-user" aria-hidden="true" ></i>&nbsp;&nbsp;Last Name*<span id="lastname"></span></label>
                    <input type="text" class="form-control" id="last_name" ng-model="lastName" placeholder="Enter Last Name" ng-keyup="validateLastname()" />
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><i class="fa fa-envelope" aria-hidden="true" ></i>&nbsp;&nbsp;Email*<span id="emailid"></span></label>
                    <input type="text" class="form-control" id="email_id" ng-model="emailId" placeholder="Enter Email" ng-keyup="validateMailid()" />
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label><i class="fa fa-mobile" aria-hidden="true" ></i>&nbsp;&nbsp;Mobile Number*<span id="mobileno"></span></label>
                    <input type="text" class="form-control" id="mobile_no" ng-model="mobileNumber" placeholder="Enter Mobile Number" ng-keyup="validateMobilenumber()" />
                </div>
                <div style="text-align:center;">
                    <button class="btn btn-primary" ng-click="registerUser()">Submit&nbsp;&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                </div>
                <div id="register_notification" style="text-align:center;margin-top:1%;display:none;"><code style="background-color:#f1f1f1;color:#003300;font-size:15px;">{{userRegisteredSuccessfully}}&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></code></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgotpassword_modal" data-role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><i class="fa fa-envelope" aria-hidden="true" ></i>&nbsp;&nbsp;Email*<span  id="resetemail"></span></label>
                    <input type="text" class="form-control" id="reset_email" ng-model="resetEmail" placeholder="Enter Email Address" ng-keyup="validateResetMailid()" />
                </div>
                <div style="text-align:center;">
                    <button class="btn btn-success" ng-click="forgotPassword()">Email Reset Link&nbsp;&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" ng-click="clearUserRecord()">CLEAR&nbsp;&nbsp;<i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
                <div id="forgot_notification" style="text-align:center;margin-top:1%;display:none;"><code style="background-color:#f1f1f1;color:#003300;font-size:15px;">{{ resetLink }}&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></code></div>
            </div>
        </div>
    </div>
</div> -->