<!DOCTYPE html>
<div class="container-fluid dtep-main-content-with-authenticated-header dtep-curate-project-main-content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group"></div>
		</div>
	</div>
	<section class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="center-block dtep-curate-project-lifecycle-component-choices-side-palette">
				<div data-uib-accordion="data-uib-accordion">
					<div class="panel-default" data-uib-accordion-group="data-uib-accordion-group" data-ng-init="accordionGroupCategories[categorization.category].isOpen=false"
					 data-is-open="accordionGroupCategories[categorization.category].isOpen" data-ng-repeat="categorization in lifecycleComponetCategorizations">
						<div data-uib-accordion-heading="data-uib-accordion-heading">
							<span data-ng-bind="categorization.category"></span>
							<i class="fa fa-angle-right fa-pull-right" aria-hidden="true" data-ng-class="{'fa-rotate-90': accordionGroupCategories[categorization.category].isOpen}"></i>
						</div>
						<div class="text-center dtep-curate-project-lifecycle-component" data-ng-repeat="component in categorization.components"
						 data-dtep-draggable-lifecycle-component="data-dtep-draggable-lifecycle-component" data-on-dragging="holdDraggedLifecycleComponent(component)">
							<div>
								<img class="img-responsive center-block dtep-curate-project-lifecycle-component-icon" data-ng-src="{{component.iconURL}}"
								 alt="{{component.componentName}}" />
								<div data-ng-bind="component.componentName"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="center-block dtep-curate-component-software-list-popup-container">
                <div class="dtep-curate-project-software-list-popup-backdrop"></div>
			</div> -->
			<div class="dtep-curate-project-template-instance-painting-screen" id="dtep-curate-project-template-instance-painting-screen"
			 data-dtep-curate-project-template-instance-painting-screen="data-dtep-curate-project-template-instance-painting-screen">
			</div>
			<div class="dtep-curate-project-zoom-controls-container">
				<button class="dtep-curate-project-zoom-control-button">
					<!-- <img src="/assets/images/zoom-in.svg" alt="zoom in"> -->
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>
				<button class="dtep-curate-project-zoom-control-button">
					<!-- <img src="/assets/images/zoom-reset.svg" alt="zoom reset"> -->
					<i class="fa fa-dot-circle-o" aria-hidden="true"></i>
				</button>
				<button class="dtep-curate-project-zoom-control-button">
					<!-- <img src="/assets/images/zoom-out.svg" alt="zoom in"> -->
					<i class="fa fa-minus" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</section>
</div>