<!DOCTYPE html>
<div>
	<header class="modal-header">
		<button class="badge close" type="button" data-ng-click="dismissModal()">
			<span class="sr-only">Close&nbsp;Dialog</span>
			<i class="fa fa-close" aria-hidden="true"></i>
		</button>
		<h4 class="modal-title text-center" id="dtep-curate-project-software-list-modal-title" data-ng-bind="$parent.draggedLifecycleComponent.componentName"></h4>
	</header>
	<main class="modal-body" id="dtep-curate-project-software-list-modal-body">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div data-ng-click="dismissModal()">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					<span>Go&nbsp;Back</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr data-ng-repeat="software in $parent.allSoftwaresByComponentCode.softwares">
								<td>
									<img class="dtep-curate-project-software-list-modal-software-img" ng-src="{{software.iconURL}}" alt="{{software.softwareName}}" />
								</td>
								<td>
									<h4 data-ng-bind="software.softwareName"></h4>
									<div class="text-center">
										<button class="btn btn-info" type="button" data-ng-click="openSoftwareConnectFormModal(software)">Connect</button>
										<button class="btn btn-info" type="button" data-ng-click="openSoftwareProvisionFormModal(software)">Provision</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</div>