<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-center dtep-page-footer">
                <p>Welcome&nbsp;to&nbsp;possible&nbsp;and&nbsp;Mindtree&nbsp;are&nbsp;registered&nbsp;trademarks&nbsp;of&nbsp;Mindtree&nbsp;Ltd.&nbsp;<a href="http://www.mindtree.com/terms-use" target="_blank">Terms&nbsp;of&nbsp;Use</a> | <a href="http://www.mindtree.com/privacy-policy"
                        target="_blank">Privacy&nbsp;Policy</a> | <a href="http://www.mindtree.com/cookie-policy" target="_blank">Cookie&nbsp;Policy</a> | <a href="http://www.mindtree.com/sitemap" target="_blank">Sitemap</a></p>
            </div>
        </div>
    </div>
</div>