<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- <br/> -->
            <div class="form-group"></div>
        </div>
    </div>
    <main class="row">
        <aside class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="dtep-pmo-dashbaord-projects-dropdown-label" for="dtep-pmo-dashbaord-projects-dropdown">Projects</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <select class="form-control dtep-pmo-dashbaord-projects-dropdown" id="dtep-pmo-dashbaord-projects-dropdown" data-ng-model="selecteProject" data-ng-options="project as project.projectName for project in projects track by project.projectId">
                        <option value="">--select project--</option>
                        <!-- <option>MindtreeTest</option>
                        <option>MindtreeTest</option>
                        <option>MindtreeTest</option>
                        <option>MindtreeTest</option> -->
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <br/> -->
                    <div class="form-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <br/> -->
                    <div class="form-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <br/> -->
                    <div class="form-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <br/> -->
                    <div class="form-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <br/> -->
                    <div class="form-group"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button" data-ng-click="setTestPlanTraceabilityChartConfig()"><i class="fa fa-file-excel-o" aria-hidden="true">&nbsp;&nbsp;</i>Test Plan Traceability</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button" data-ng-click="setTotalDefectsChartConfig()"><i class="fa fa-chain-broken" aria-hidden="true"></i>&nbsp;&nbsp;Total Defects</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button"><i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;Defect Severity</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button"><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Total Execution Coverage</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Effort Variance</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Schedule Variance</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button"><i class="fa fa-compass" aria-hidden="true"></i>&nbsp;&nbsp;Test Planned Vs Executed</button>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-block btn-default dtep-pmo-dashboard-reports-button"><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;&nbsp;Code Coverage Report</button>
                </div>
            </div>
        </aside>
        <div class="visible-sm-block visible-xs-block">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <br/> -->
                    <div class="form-group"></div>
                </div>
            </div>
        </div>
        <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <section class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="panel text-center dtep-pmo-dashboard-labels dtep-pmo-dashbaord-chart-panel">
                                <div class="panel-body">
                                    <h3>40</h3>
                                    <p>Requirements</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="panel text-center dtep-pmo-dashboard-labels dtep-pmo-dashbaord-chart-panel">
                                <div class="panel-body">
                                    <h3>242</h3>
                                    <p>Test Cases Designed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="panel text-center dtep-pmo-dashboard-labels dtep-pmo-dashbaord-chart-panel">
                                <div class="panel-body">
                                    <h3>104</h3>
                                    <p>Total Defects</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="panel text-center dtep-pmo-dashboard-labels dtep-pmo-dashbaord-chart-panel">
                                <div class="panel-body">
                                    <h3>230</h3>
                                    <p>Test Cases Planned</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="panel text-center dtep-pmo-dashboard-labels dtep-pmo-dashbaord-chart-panel">
                                <div class="panel-body">
                                    <h3>234</h3>
                                    <p>Test Cases Executed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="panel text-center dtep-pmo-dashbaord-chart-panel dtep-pmo-dashboard-labels dtep-pmo-dashboard-code-coverage-staticstics-panel">
                        <div class="panel-body">
                            <h3>4579</h3>
                            <p>Code Coverage Defects</p>
                            <p style="color: rgba(242, 86, 86, 1);">Blocker - 212</p>
                            <p style="color: rgba(236, 110, 110, 1);">Critical - 521</p>
                            <p style="color: rgba(228, 142, 107, 1);">Major - 1296</p>
                            <p style="color: rgba(232, 171, 84, 1);">Minor - 2348</p>
                            <p style="margin-bottom: 0; border-bottom-style: none; color: rgba(198, 213, 234, 1)">Info - 202</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default dtep-pmo-dashbaord-chart-panel">
                        <div class="panel-heading dtep-pmo-dashbaord-chart-panel-heading">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="panel-title">Chart</span>
                        </div>
                        <div class="panel-body">
                            <div class="dtep-pmo-dashbaord-chart-panel-body-content">
                                <div data-dtep-amcharts="chartConfig" data-chartdiv-id="chartdiv" style="max-width: 100%; height: 300px; margin: 0 auto">
                                </div>
                                <!-- <div id="chartdiv" style="max-width: 100%; height: 300px; margin: 0 auto">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>